@keyframes slideBar {
  from {
    transform: translateX(-100%); /* Start from off-screen (left) */
  }
  to {
    transform: translateX(0); /* End at full width */
  }
}
.contentInner {
  transition: slideBar 2s ease;
}