@keyframes slideContent {
    from {
        opacity: -1;
        transform: translateY(-100px);
    }
    50% { 
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideReverseContent {
    from {
        opacity: -1;
        transform: translateY(100);
    }
    50% {
        opacity: 0;
        transform: translateY(50);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contentAnimated {
    animation: slideContent 1s ease-out ;
}
.badgesAnimated {
    animation: slideReverseContent 1s ease-in-out;
}